@{
  Layout = "_Layout";
}

<h1>Welcome to the Vendor & Order Tracker for Pierre's Bakery!</h1>
    <a href='/vendor/new'>Add a new Vendor</a>
    <br>
    <a href='/vendor'>See list of Vendors</a>
    <br>
    @* <a href='/search'>Search tracks by artist</a> *@