@{
  Layout = "_Layout";
}

<h1>Welcome to the Vendor & Order Tracker for Pierre's Bakery!</h1>
    <a href='/vendors/new'>Add A New Bakery Vendor</a>
    <br>
    <a href='/vendors'>See List of Current Vendors</a>
    <br>